<div class="container">
  <h1>Scott Mascio <a href="https://github.com/scottmascio2115"><img border="0" src="/my_face.jpg" alt="adopt-a-coder pic" width="104" height="104"></a></h1>
  <h5>ScottMascio@gmail.com</h5>
  <h5><a class="myButton" id="web" href="/web">Apps.</a> <a class="myButton" id="adopt" href= "/adopt">Adopt-A-Coder</a> <a class="myButton" id="mudfish" href= "/mudfish">Mudfish</a> <a class="myButton" id="skills" href= "/skills">Skills</a> <a class="myButton" id="testing" href= "/testing">Why Test?</a> <a class="myButton" id="ruby" href= "/ruby">Ruby</a> <a class="myButton" id="rspec" href= "/rspec">Rspec</a> <a class="myButton" id="trader" href= "/trader">Trader</a> <a class="myButton" id="husband" href= "/husband">Husband</a> <a class="myButton" id="basketball" href="/basketball">Basketball Player</a></h5>
</div>

<div id="about_webdeveloper">
  <h4 id="projects"><a href="http://www.adoptacoder.org/"> Adopt-A-Coder</a> and <a href="http://mudfish.herokuapp.com/"> Mudfish. </a></h4>
  <a href="http://www.adoptacoder.org/">
  <img border="0" src="/adopt-a-coder.jpg" alt="adopt-a-coder pic" width="304" height="228"></a>
  <a href="http://mudfish.herokuapp.com/">
  <img border="0" src="/mudfish.jpg" alt="mudfish pic" width="304" height="178"></a>
</div>

<div id="about_adopt">
  <p>"Funding the future, one coder at a time."</p>
  <a href="http://www.adoptacoder.org/">
  <img border="0" src="/adopt-a-coder.jpg" alt="adopt-a-coder pic" width="304" height="228"></a>
    <ul>
      <li>A Rails 4 group project that was successfully completed in seven days.</li>
      <li>Managed all testing for project.</li>
      <li>Wrote over 1,000 lines of test code for 99% coverage.</li>
      <li>Gained ample knowledge of testing through trial and error process using multiple frameworks and methods including: RSPEC, Capybara, FactoryGirl, Cucumber, and Selenium.</li>
      <li>Overcame major challenge of writing test for confirmation, thank you, and password reset Emails.
      </li>
    </ul>
</div>

<div id="about_mudfish">
  <p>"A fishing spot stealer"</p>
  <a href="http://mudfish.herokuapp.com/">
  <img border="0" src="/mudfish.jpg" alt="mudfish pic" width="304" height="228"></a>
  <ul>
  <li>A Sinatra project made solo in two days.</li>
<li>Created an application for sharing exact coordinates of people fishing by dissecting the Twitter API and Google Maps API.</li>
<li>Used the Geocoder gem, Twitter Gem, and wrote code in Javascript, Ruby and Jquery. As well as wrote all the CSS and HTML.</li>
  </ul>
</div>

<div id="about_skills">
  <p> Languages, Frameworks and Strategies aquired and used at Devbootcamp:</p>
    <ul>
      <li>TDD</li>
      <li>BDD</li>
      <li>RSPEC</li>
      <li>Capybara</li>
      <li>Jasmine</li>
      <li>Ruby</li>
      <li>Ruby on Rails</li>
      <li>Javascript</li>
      <li>HTML</li>
      <li>CSS</li>
      <li>Travis</li>
      <li>Selenium</li>
      <li>FactoryGirl</li>
      <li>Cucumber</li>
      <li>Coveralls</li>
      <li>Active Record</li>
      <li>Sinatra</li>
      <li>Git</li>
      <li>jQuery</li>
      <li>SQL (PostgreSQL and Sqlite)</li>
      <li>Heroku</li>
    </ul>
</div>

<div id="about_testing">
  <ul>
    <li>Testing allows you to make changes to your code, while ensuring the functionality remains the same.</li>
    <li>Ensures clean, bug free code.</li>
    <li>Documents the functionality of the code.</li>
    <li>Instant feedback every time your test suite is run.</li>
    <li> Everyone needs to test their code, few people do.</li>
  </ul>
<img border="0" src="/coveralls.jpg" alt="Testing pic" width="304" height="228">
</div>


<div id="about_ruby">
<img border="0" src="/ruby.jpg" alt="ruby pic" width="504" height="428">
</div>

<div id="about_rspec">
<img border="0" src="/rspec.jpg" alt="rspec pic" width="504" height="428">
</div>

<div id="about_trading">
  <p> For six years prior to pursuing a career as a software developer, I traded fixed income securities. At the Chicago Board of Trade, I traded for three companies; Chopper Trading, Breakwater Trading and Tradelifts.</p><img border="0" src="/trading_desk.jpg" alt="Trading desk pic" width="304" height="228">
</div>

<div id="about_husband">
  <p>I have been married to my beautiful wife for just over a year.</p><img border="0" src="/wedding.jpg" alt="Wedding pic" width="304" height="228">
</div>

<div id="about_basketball">
  <p>I played basketball for four years at the University of Tampa. I was the captain of the 2008 team that made the division two sweet sixteen.
  </p>
    <a href="http://tampaspartans.com/sport.asp?sportID=2">
      <img border="0" src="/ut.jpg" alt="basketball pic" width="304" height="228">
    </a>

</div>

<div class="footer">
  <a class="myButton" href="http://www.linkedin.com/pub/scott-mascio/68/5aa/23">LinkedIn</a> <a class="myButton" href="https://github.com/scottmascio2115">GitHub</a> <a class="myButton" href="https://twitter.com/_S_MAS">Twitter</a>
</div>



